* {
 box-sizing: border-box;
 font-family: Arial, sans-serif;
}

#content {
 width: 480px;
 margin: 0 auto;
}

.editor {
 border: 1px solid grey;
 padding: 6px;
 min-height: 80px;
}

.container {
  margin-top: 300px;
  margin-left: 0 !important;
  padding: 0 !important;
  width: 100%;
  border: 1px solid black;
}